.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.navbar .brand-logo-text {
    font-family: "Kingthings Petrock";
    font-size: 3rem;
    color: black;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 1rem 0;
    }
    .navbar .brand-logo-text {
        font-size: 2rem;
    }
}